{% extends 'base.html' %}

{% block title %}
location
{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<br>
<div class="container">
<h1 style="text-align:center;">Location</h1><br><br>
<div class="col-1 text-left pl-md-3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3944.623058411209!2d76.84352571525403!3d8.632137297453902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05c19575f59f83%3A0x2a17d62a8732dd88!2sMFT%20Sports%20Hub!5e0!3m2!1sen!2sin!4v1677821586003!5m2!1sen!2sin" width="1100" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</div>
{% endblock %}