{% extends 'base.html' %}

{% block title %}
login
{% endblock %}

{% block content %}
{% load static %}
<style>
    .container{
        background-size: cover;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<br>
<div style="background-image: url({% static '/images/cricket.jpg' %});" class="container">
<h1 style="text-align:center; color: darkblue;">Welcome, {{key}}</h1><br><br>
<h2 style="text-align:center;">Name: {{key2}}</h2>
<h2 style="text-align:center;">Place: {{key4}}</h2>
<h2 style="text-align:center;">Phone: {{key5}}</h2>
<h2 style="text-align:center;">Email: {{key6}}</h2>

<form style="margin-left: 16rem;" action="booking" method="post">
    {% csrf_token %}
    <button class="btn btn-primary" type="submit">Booking</button><br><br>
</form>


</div>
{% endblock %}